<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark px-4 mb-4 shadow-sm"
>

  <a
    class="navbar-brand fw-bold text-primary"
    routerLink="/dashboard"
  >
    🚚 RutaExpress
  </a>


  @if (isLoggedIn && rolesCargados) {

    <div class="navbar-nav me-auto">


      <!-- ======================== -->
      <!-- DASHBOARD / SEGUIMIENTO -->
      <!-- ======================== -->

      <a
        class="nav-link"
        routerLink="/dashboard"
        routerLinkActive="active"
      >

        @if (esCliente()) {

          📍 Mi seguimiento

        } @else {

          📊 Dashboard

        }

      </a>


      <!-- ======================== -->
      <!-- ENVIOS -->
      <!-- Admin / Despachador / Cliente -->
      <!-- ======================== -->

      @if (puedeVerEnvios()) {

        <a
          class="nav-link"
          routerLink="/shipments"
          routerLinkActive="active"
        >
          📦 Envíos
        </a>

      }


      <!-- ======================== -->
      <!-- CATÁLOGO -->
      <!-- Admin / Despachador -->
      <!-- ======================== -->

      @if (puedeVerCatalogo()) {

        <a
          class="nav-link"
          routerLink="/catalogo"
          routerLinkActive="active"
        >
          🗂️ Catálogo
        </a>

      }


      <!-- ======================== -->
      <!-- REPORTES -->
      <!-- Solo Admin -->
      <!-- ======================== -->

      @if (puedeVerReportes()) {

        <a
          class="nav-link"
          routerLink="/reportes"
          routerLinkActive="active"
        >
          📈 Reportes
        </a>

      }


      <!-- ======================== -->
      <!-- AUDITORÍA -->
      <!-- Admin / Auditor -->
      <!-- ======================== -->

      @if (puedeVerAuditoria()) {

        <a
          class="nav-link"
          routerLink="/auditoria"
          routerLinkActive="active"
        >
          🛡️ Auditoría
        </a>

      }

    </div>


    <div
      class="d-flex align-items-center gap-3 text-white"
    >

      <small class="text-light">
        {{ username }}
      </small>

      <button
        class="btn btn-outline-danger btn-sm"
        (click)="logout()"
      >
        Cerrar Sesión
      </button>

    </div>

  }

</nav>


<div class="container-fluid px-4">

  <router-outlet>
  </router-outlet>

</div>